<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic" rel="stylesheet" type="text/css">
        <title>Carta concepto de rehabilitacion</title>
        <style>
            body {
                width: 230mm;
                height: 100%;
                margin: 0 auto;
                padding: 0;
                font-size: 12pt;
                /* background: rgb(204, 204, 204); */
            }

            * {
                box-sizing: border-box;
                -moz-box-sizing: border-box;
            }

            h1, h2, h3, p, small {
                /* font-family: Raleway, Arial, Helvetica Neue, Helvetica, sans-serif !important; */
                font-family: 'Open Sans', Arial, Helvetica Neue, Helvetica, sans-serif !important;
            }

            p { 
                margin: 0;
                font-size: 10pt;
            }

            .main-page {
                width: 210mm;
                min-height: 297mm;
                margin: 10mm auto;
                background: white;
                box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
            }

            .sub-page {
                padding: 1cm;
                height: 297mm;
            }

            @page {
                size: A4;
                margin: 0;
            }

            @media print {

                html,
                body {
                    width: 210mm;
                    height: 297mm;
                }

                .main-page {
                    margin: 0;
                    border: initial;
                    border-radius: initial;
                    width: initial;
                    min-height: initial;
                    box-shadow: initial;
                    background: initial;
                    page-break-after: always;
                }
            }
        </style>
    </head>
    <body>
        <div class="main-page">
            <div class="sub-page">
                <!-- <h3 align='center'>A4 Page in Portrait.(210mm X 297mm)</h3> -->
                <img src="http://meddylex-001-site2.itempurl.com/assets/images/imgs/KustodyYmeddylex.png" style="width: 80%;position: absolute;z-index: 2;left: 10%;top: 35%;opacity: 0.2;">
                <repeater>
                    <layout>
                        <table border="0" width="100%">
                            <tr>
                                <td align="left">
                                    <img src="http://meddylex-001-site2.itempurl.com/assets/images/imgs/Logokustodyahorizontal.png" alt="Logo Kustodya" width="40%">
                                </td>
                                <td></td>
                                <td align="right">
                                    <img src="http://meddylex-001-site2.itempurl.com/assets/images/imgs/meddilexlogo.png" alt="Logo Meddylex" width="40%">
                                </td>
                            </tr>
                        </table>
                    </layout>
                </repeater>
                <repeater>
                    <layout>
                        <table border="0" width="100%">
                            <tr>
                                <td align="left">
                                    <p>
                                        Bogotá D.C,    viernes, 19 de agosto de 2022
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </layout>
                </repeater>
                <repeater>
                    <layout>
                        <table border="0" width="100%" style="margin: 4rem 0 0 0;">
                            <tr>
                                <td align="left">
                                    <p>
                                        Señores:
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td align="left">
                                    <p>
                                        <strong>COLFONDOS</strong>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td align="left">
                                    <p>
                                        <strong>Atn. Dirección de Medicina Laboral</strong>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td align="left">
                                    <p>
                                        Calle 67 N° 7 - 94
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td align="left">
                                    <p>
                                        correspondencia@colfondos.com.co
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </layout>
                </repeater>
                <repeater>
                    <layout>
                        <table border="0" width="100%" style="margin: 3rem 0 0 0;">
                            <tr>
                                <td align="left">
                                    <p>
                                    <strong>Asunto:</strong>
                                    </p>
                                </td>
                                <td align="left">
                                    <table>
                                        <tr>
                                            <td>
                                                <p>Respuesta requerimientos</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>Notificación Concepto de Rehabilitación: <strong>97B2A61</strong></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>
                                                    <strong>MARTHA LUNA PIMIENTO C.C. No. 63324967</strong>
                                                </p>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </layout>
                </repeater>
                <repeater>
                    <layout>
                        <table border="0" width="100%" style="margin: 4rem 0 0 0;">
                            <tr>
                                <td align="left">
                                    <p>
                                        Respetados Señores:
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </layout>
                </repeater>
                <repeater>
                    <layout>
                        <table border="0" width="100%">
                            <tr>
                                <td align="left">
                                    <p style="text-align: justify;">
                                        <strong>MEDDYLEX EPS</strong>, en cumplimiento a lo dispuesto en el inciso 6 del Artículo 142 del 
                                        Decreto Ley 019 de 2012, remite <strong>CONCEPTO DE REHABILITACIÓN</strong> del afiliado del asunto, 
                                        con pronóstico laboral Favorable , quien cumplió incapacidad temporal prolongada.
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </layout>
                </repeater>
                <repeater>
                    <layout>
                        <table border="0" width="100%">
                            <tr>
                                <td align="left">
                                    <p style="text-align: justify;">
                                        Lo anterior para iniciar al respectivo tramite por la Administradora de Fondo de 
                                        Pensiones frente al <strong>reconocimiento de prestaciones económicas</strong> y evaluación para 
                                        <strong>calificación de pérdida de capacidad laboral</strong> correspondiente.
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </layout>
                </repeater>
                <repeater>
                    <layout>
                        <table border="0" width="100%" style="margin: 2rem 0 0 0;">
                            <tr>
                                <td align="left">
                                    <p>
                                        Cordialmente,
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </layout>
                </repeater>
                <repeater>
                    <layout>
                        <table border="0" width="100%" style="margin: 3rem 0 0 0;">
                            <tr>
                                <td align="left">
                                    <img src="http://meddylex-001-site2.itempurl.com/assets/images/imgs/firmaConceptoRehabilitacion.png" alt="Firma Avalador">
                                </td>
                            </tr>
                        </table>
                    </layout>
                </repeater>
                <repeater>
                    <layout>
                        <table border="0" width="100%" style="margin: 0 0 0 0;">
                            <tr>
                                <td align="left">
                                    <p>
                                        Dirección de Medicina Laboral
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td align="left">
                                    <p>
                                        Meddylex EPS
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td align="left">
                                    <p>
                                        Elaboró: AMDJ
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </layout>
                </repeater>
                <repeater>
                    <layout>
                        <table border="0" width="100%" style="margin: 2rem 0 0 0;">
                            <tr>
                                <td align="left">
                                    <p>
                                        Folios: 1
                                    </p>
                                </td>
                                <!-- <td align="right">
                                    <img src="http://meddylex-001-site2.itempurl.com/assets/images/imgs/qrcode-screenshot.png" style="width: 50px; position: relative;">
                                </td> -->
                            </tr>
                        </table>
                    </layout>
                </repeater>
                <repeater>
                    <layout>
                        <table border="0" width="100%">
                            <tr>
                                <td align="left">
                                    <p>
                                        <strong>Copia</strong>
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </layout>
                </repeater>
                <repeater>
                    <layout>
                        <table border="0" width="100%" style="margin: 0;">
                            <tr>
                                <td align="left">
                                    <p>
                                        Señor(a): <strong>MARTHA LUNA PIMIENTO</strong>, Dir: <strong>CL 94 11 A 65 APTO 703 BRR CHICO</strong>, Tel:<strong>6218692</strong>
                                    </p>
                                    <p>
                                        Empleador. <strong>HERMAN DUCUARA FORERO</strong>, Dir: <strong>CALLE 25. 23-30</strong>, Tel: <strong>2249699</strong>
                                    </p>
                                </td>
                                <td align="left">
                                    <img src="http://meddylex-001-site2.itempurl.com/assets/images/imgs/qrcode-screenshot.png" style="width: 90px; position: relative;">
                                </td>
                            </tr>
                        </table>
                    </layout>
                </repeater>
                <!-- <repeater>
                    <layout>
                        <table border="0" width="100%">
                            <tr>
                                <td align="left">
                                    <p>
                                        Empleador. <strong>HERMAN DUCUARA FORERO</strong>, <strong>CALLE 25. 23-30</strong>, <strong>2249699</strong>
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </layout>
                </repeater> -->
            </div>
        </div>
    </body>
</html>