<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css2?family=Exo&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <title>Concepto de rehabilitacion</title>
        <style>
            html, 
            body {
                /* width: 230mm;
                height: 100%; */
                /* width: 210mm;
                height: 297mm; */
                margin: 0;
                padding: 0;
                /* font-size: 7pt; */
                /* zoom: 0.7; */
                /* background: rgb(204, 204, 204); */
            }

            .content {
                margin: 5mm 5mm;
                /* font-size: 7pt; */
                /* background-image: url('http://meddylex-001-site2.itempurl.com/assets/images/imgs/KustodyYmeddylex.png');
                background-repeat: no-repeat; */
            }

            .header-card {
                border-radius: 5px; 
                border: 1px solid #ccc; 
                padding: 0.5rem; 
                text-align: center; 
                border-top: none; 
                background-color: #f1f1f1 !important;
            }

            .label-section {
                font-family: 'Raleway';
                color: #6f6e6e;
                font-size: 3pt;
            }

            .data-section {
                font-family: 'Exo';
                /* font-weight: 500; */
                font-size: 5pt;
                margin: 0;
                display: flex; 
                align-items: center;
            }
            
            .empty-data {
                font-family: 'Exo';
                color: #ccc; 
                font-size: 3pt;
                margin-bottom: 3.5px;
            }

            .separator {
                border: 0.5px solid #ccc; 
                margin: 5px 0;
            }

            hr{
                height: 0.5px;
                background-color: #ececec;
                border: none;
            }

            * {
                font-size: 6.35pt;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
            }

            h1, h2, h3, p, small {
                /* font-family: Raleway, Arial, Helvetica Neue, Helvetica, sans-serif !important; */
                /* font-family: 'Open Sans', Arial, Helvetica Neue, Helvetica, sans-serif !important; */
            }

            p { 
                margin: 0;
                /* font-size: 7pt; */
            }

            @page {
                /* size: A4; */
                margin: 0;
            }

            @media print {

                * {
                    -webkit-print-color-adjust: exact !important; /*Chrome, Safari */
                    color-adjust: exact !important;  /*Firefox*/
                    -webkit-print-color-adjust: exact !important;
                    -moz-print-color-adjust: exact !important;
                    -ms-print-color-adjust: exact !important;
                    print-color-adjust: exact !important;
                }

                html, body {
                    margin: 0 !important;
                    padding: 0 !important;
                }

                .content {
                    margin: 5mm 5mm !important;
                    /* margin: 7mm 7mm !important; */
                    /* font-size: 7pt !important; */
                    /* font-size: 6.35pt !important; */
                }

                .header-card {
                    border-radius: 5px !important; 
                    border: 1px solid #ccc !important; 
                    padding: 0.5rem !important; 
                    text-align: center !important; 
                    border-top: none !important; 
                    /* background-color: #00000008 !important; */
                    background-color: #f1f1f1 !important;
                }

                .label-section {
                    font-family: 'Raleway' !important;
                    color: #6f6e6e !important;
                    font-size: 3pt !important;
                }

                .data-section {
                    font-family: 'Exo' !important;
                    font-size: 5pt !important;
                    margin: 0 !important;
                }
                
                .empty-data {
                    font-family: 'Exo' !important;
                    color: #ccc !important; 
                    font-size: 3pt !important;
                    margin-bottom: 3.5px !important;
                }

                .separator {
                    border: 0.5px solid #ccc !important; 
                    margin: 5px 0 !important;
                    height: 1px !important;
                    display: flex !important; 
                    align-items: center !important;
                }

                hr{
                    height: 0.5px !important;
                    background-color: #ececec !important;
                    border: none !important;
                }
            }
        </style>
    </head>
    <body>
        <div class="content">
            <div class="">
                <!-- <h3 align='center'>A4 Page in Portrait.(210mm X 297mm)</h3> -->
                <!-- <img src="http://meddylex-001-site2.itempurl.com/assets/images/imgs/KustodyYmeddylex.png" style="width: 80%;position: absolute;z-index: 2;left: 10%;top: 35%;opacity: 0.2;"> -->
                <repeater>
                    <layout>
                        <table border="0" width="100%">
                            <tr>
                                <td align="left">
                                    <img src="http://meddylex-001-site2.itempurl.com/assets/images/imgs/Logokustodyahorizontal.png" alt="Logo Kustodya" width="40%">
                                </td>
                                <td></td>
                                <td align="right">
                                    <img src="http://meddylex-001-site2.itempurl.com/assets/images/imgs/meddilexlogo.png" alt="Logo Meddylex" width="40%">
                                </td>
                            </tr>
                        </table>
                    </layout>
                </repeater>
                <repeater>
                    <layout>
                        <table border="0" width="100%">
                            <tr>
                                <td>&nbsp;</td>
                                <td align="center">
                                    <p style="font-family: 'Exo'; font-weight: 300; margin: 0; font-size: 6pt;">CONCEPTO DE REHABILITACIÓN</p>
                                </td>
                                <td>&nbsp;</td>
                            </tr>
                        </table>
                    </layout>
                </repeater>
                <repeater>
                    <layout>
                        <div style="border-radius: 8px; border: 1px solid #ccc; padding: 0.4rem 1rem;">
                            <table border="0" width="100%">
                                <tr>
                                    <td style="margin: 0; padding: 0; vertical-align: top;">
                                        <label class="label-section">Codigo concepto:</label>
                                    </td>
                                    <td style="margin: 0; padding: 0; vertical-align: top;">
                                        <label class="label-section">Fecha emision:</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="margin: 0; padding: 0; vertical-align: top;">
                                        <span class="data-section">{{ tCodigoCorto }}</span>
                                    </td>
                                    <td style="margin: 0; padding: 0; vertical-align: top;">
                                        <span class="data-section">{{ FechaEmision }}</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </layout>
                </repeater>
                <!-- <br> -->
                <div style="margin: 5px;"></div>
                <repeater>
                    <layout>
                        <div style="border-radius: 8px; border: 1px solid #ccc; padding: 0rem;">
                            <div class="header-card">
                                <p style="font-family: 'Exo'; font-weight: 300; margin: 0; font-size: 5pt;">
                                    CONCEPTO MEDICO PARA REMISION A ADMINISTRADORA DE FONDO DE PENSIONES (AFP)
                                </p>
                            </div>
                            <div style="padding: 0.4rem 1rem;">
                                <p style="font-family: 'Raleway'; text-align: justify; font-size: 4pt;">
                                    Este concepto se emite para cumplir lo establecido por el artículo 142 del Decreto Ley 0019 de 2012 y el Artículo 2.2.3.2.2 del Decreto 1333 de 2.018, que estipula que las Entidades Promotoras de Salud deberán emitir el concepto de rehabilitación y enviarlo antes de cumplirse el día ciento veinte (120) a la Administradora de Fondo de Pensiones, con el fin de que la misma defina si postergará el trámite de calificación de Invalidez hasta por un término máximo de trescientos sesenta (360) días calendario adicionales a los primeros ciento ochenta (180) días de incapacidad temporal reconocida por la Entidad Promotora de Salud otorgando un subsidio equivalente a la incapacidad que venía disfrutando el trabajador (para los casos con concepto de rehabilitación favorable) o si procederá a calificar la pérdida de capacidad laboral con el fin de definir si hay lugar a pensión por invalidez.
                                </p>
                            </div>
                        </div>
                    </layout>
                </repeater>
                <!-- <br> -->
                <div style="margin: 5px;"></div>
                <repeater>
                    <layout>
                        <div style="border-radius: 8px; border: 1px solid #ccc; padding: 0rem;">
                            <div class="header-card">
                                <p style="font-family: 'Exo'; font-weight: 500; margin: 0; font-size: 5pt;">
                                    <i class="fas fa-user-injured"></i>&nbsp;
                                    INFORMACIÓN GENERAL DEL AFILIADO
                                </p>
                            </div>
                            <div style="padding: 0.4rem 1rem;">
                                <table border="0" width="100%">
                                    <tr>
                                        <td style="margin: 0; padding: 0; vertical-align: top;">
                                            <label class="label-section">Primer nombre: </label>
                                            <p class="data-section">{{ primerNombre }}</p>
                                        </td>
                                        <td id="test" style="margin: 0; padding: 0; vertical-align: top;">
                                            <label class="label-section">Segundo nombre:</label>
                                            {{{ tagSegundoNombre }}}
                                            <!-- <p class="data-section">{{ segundoNombre }}</p> -->
                                            <!-- <p class="empty-data">No registra dato</p> -->
                                        </td>
                                        <td style="margin: 0; padding: 0; vertical-align: top;">
                                            <label class="label-section">Primer apellido: </label>
                                            <p class="data-section">{{ primerApellido }}</p>
                                        </td>
                                        <td style="margin: 0; padding: 0; vertical-align: top;">
                                            <label class="label-section">Segundo apellido:</label>
                                            {{{ tagSegundoApellido }}}
                                            <!-- <p class="data-section">{{ segundoApellido }}</p> -->
                                            <!-- <p class="empty-data">No registra dato</p> -->
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="margin: 0; padding: 0; vertical-align: top;">
                                            <label class="label-section">Tipo de documento: </label>
                                            <p class="data-section">{{ tipoDocumento }}</span>
                                        </td>
                                        <td style="margin: 0; padding: 0; vertical-align: top;">
                                            <label class="label-section">Número de documento:</label>
                                            <p class="data-section">{{ numeroDocumento }}</span>
                                        </td>
                                        <td style="margin: 0; padding: 0; vertical-align: top;">
                                            <label class="label-section">Fecha de nacimiento: </label>
                                            <p class="data-section">{{ fechaNacimiento }}</span>
                                        </td>
                                        <td style="margin: 0; padding: 0; vertical-align: top;">
                                            <label class="label-section">Género:</label>
                                            <p class="data-section">{{ genero }}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="margin: 0; padding: 0; vertical-align: top;">
                                            <label class="label-section">Edad: </label>
                                            <p class="data-section">{{ edad }}</span>
                                        </td>
                                        <td style="margin: 0; padding: 0; vertical-align: top;">
                                            <label class="label-section">Correo electrónico:</label>
                                            <p class="data-section">{{ email }}</span>
                                        </td>
                                        <td style="margin: 0; padding: 0; vertical-align: top;">
                                            <label class="label-section">Dirección: </label>
                                            <p class="data-section">{{ direccion }}</span>
                                        </td>
                                        <td style="margin: 0; padding: 0; vertical-align: top;">
                                            <label class="label-section">Télefono:</label>
                                            <p class="data-section">{{ telefono }}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="margin: 0; padding: 0; vertical-align: top;">
                                            <label class="label-section">País: </label>
                                            <p class="data-section">{{ nombrePais }}</span>
                                        </td>
                                        <td style="margin: 0; padding: 0; vertical-align: top;">
                                            <label class="label-section">Depatamento:</label>
                                            <p class="data-section">{{ nombreDepartamento }}</span>
                                        </td>
                                        <td style="margin: 0; padding: 0; vertical-align: top;">
                                            <label class="label-section">Ciudad: </label>
                                            <p class="data-section">{{ nombreMunicipio }}</span>
                                        </td>
                                        <td style="margin: 0; padding: 0; vertical-align: top;">
                                            &nbsp;
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </layout>
                </repeater>
                <!-- <br> -->
                <div style="margin: 5px;"></div>
                <repeater>
                    <layout>
                        <div style="border-radius: 8px; border: 1px solid #ccc; padding: 0rem;">
                            <div class="header-card">
                                <p style="font-family: 'Exo'; font-weight: 500; margin: 0; font-size: 5pt;">
                                    <i class="fas fa-hospital-user"></i>&nbsp;
                                    Datos afiliación EPS
                                </p>
                            </div>
                            <div style="padding: 0.4rem 1rem;">
                                <table border="0" width="100%">
                                    <tr>
                                        <td style="margin: 0; padding: 0; vertical-align: top;">
                                            <label class="label-section">NIT: </label>
                                            <p class="data-section">{{ numeroIdentificacionEps }}</p>
                                        </td>
                                        <td style="margin: 0; padding: 0; vertical-align: top; width: 394px;">
                                            <label class="label-section">Razón Social:</label>
                                            <p class="data-section">{{ eps }}</p>
                                        </td>
                                        <td style="margin: 0; padding: 0; vertical-align: top;">
                                            <label class="label-section">Régimen de afiliación: </label>
                                            <p class="data-section">{{ regimenAfiliacion }}</p>
                                        </td>
                                        <td style="margin: 0; padding: 0; vertical-align: top;">
                                            <label class="label-section">Tipo Afiliación:</label>
                                            <p class="data-section">{{ tipoAfiliacion }}</p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </layout>
                </repeater>
                <!-- <br> -->
                <div style="margin: 5px;"></div>
                <repeater>
                    <layout>
                        <div style="border-radius: 8px; border: 1px solid #ccc; padding: 0rem;">
                            <div class="header-card">
                                <p style="font-family: 'Exo'; font-weight: 500; margin: 0; font-size: 5pt;">
                                    <i class="fas fa-hospital-user"></i>&nbsp;
                                    Datos afiliación ARL
                                </p>
                            </div>
                            <div style="padding: 0.4rem 1rem;">
                                <table border="0" width="100%">
                                    <tr>
                                        <td style="margin: 0; padding: 0; vertical-align: top;">
                                            <label class="label-section">NIT: </label>
                                            <p class="data-section">{{ numeroIdentificacionArl }}</p>
                                        </td>
                                        <td style="margin: 0; padding: 0; vertical-align: top; width: 394px;">
                                            <label class="label-section">Razón Social:</label>
                                            <p class="data-section">{{ arl }}</p>
                                        </td>
                                        <td style="margin: 0; padding: 0; vertical-align: top;">
                                            <label class="label-section">Régimen de afiliación: </label>
                                            <p class="data-section">{{ regimenAfiliacion }}</p>
                                        </td>
                                        <td style="margin: 0; padding: 0; vertical-align: top;">
                                            <label class="label-section">Tipo Afiliación:</label>
                                            <p class="data-section">{{ tipoAfiliacion }}</p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </layout>
                </repeater>
                <!-- <br> -->
                <div style="margin: 5px;"></div>
                <repeater>
                    <layout>
                        <div style="border-radius: 8px; border: 1px solid #ccc; padding: 0rem;">
                            <div class="header-card">
                                <p style="font-family: 'Exo'; font-weight: 500; margin: 0; font-size: 5pt;">
                                    <i class="fas fa-hospital-user"></i>&nbsp;
                                    Datos afiliaci&oacute;n AFP
                                </p>
                            </div>
                            <div style="padding: 0.4rem 1rem;">
                                <table border="0" width="100%">
                                    <tr>
                                        <td style="margin: 0; padding: 0; vertical-align: top;">
                                            <label class="label-section">NIT: </label>
                                            <p class="data-section">{{ numeroIdentificacionAfp }}</p>
                                        </td>
                                        <td style="margin: 0; padding: 0; vertical-align: top; width: 394px;">
                                            <label class="label-section">Razón Social:</label>
                                            <p class="data-section">{{ afp }}</p>
                                        </td>
                                        <td style="margin: 0; padding: 0; vertical-align: top;">
                                            <label class="label-section">Régimen de afiliación: </label>
                                            <p class="data-section">{{ regimenAfiliacion }}</p>
                                        </td>
                                        <td style="margin: 0; padding: 0; vertical-align: top;">
                                            <label class="label-section">Tipo Afiliación:</label>
                                            <p class="data-section">{{ tipoAfiliacion }}</p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </layout>
                </repeater>
                <!-- <br> -->
                <div style="margin: 5px;"></div>
                <repeater>
                    <layout>
                        <div style="border-radius: 8px; border: 1px solid #ccc; padding: 0rem;">
                            <div class="header-card">
                                <p style="font-family: 'Exo'; font-weight: 500; margin: 0; font-size: 5pt;">
                                    <i class="fas fa-procedures"></i>&nbsp;
                                    DIAGNOSTICOS
                                </p>
                            </div>
                            <div style="padding: 0.4rem 1rem;">
                                <table border="0" width="100%">
                                    <!-- <tr>
                                        <td style="margin: 0; padding: 0; vertical-align: top;">
                                            <label class="label-section">Código diagnóstico: </label>
                                            <p class="data-section">A065</p>
                                        </td>
                                        <td style="margin: 0; padding: 0; vertical-align: top; width: 350px;">
                                            <label class="label-section">Nombre diagnóstico:</label>
                                            <p class="data-section">Absceso amebiano del pulmón</p>
                                        </td>
                                        <td style="margin: 0; padding: 0; vertical-align: top;">
                                            <label class="label-section">Fecha diagnóstico: </label>
                                            <p class="data-section">Contributivo</p>
                                            <p class="empty-data">No registra dato</p>
                                        </td>
                                        <td style="margin: 0; padding: 0; vertical-align: top;">
                                            <label class="label-section">Etiología:</label>
                                            <p class="data-section">Cotizante</p>
                                            <p class="empty-data">No registra dato</p>
                                        </td>
                                    </tr> -->
                                    {{{ tagListCie }}}
                                </table>
                            </div>
                        </div>
                    </layout>
                </repeater>
                <!-- <br> -->
                <div style="margin: 5px;"></div>
                <repeater>
                    <layout>
                        <div style="border-radius: 8px; border: 1px solid #ccc; padding: 0rem;">
                            <div class="header-card">
                                <p style="font-family: 'Exo'; font-weight: 500; margin: 0; font-size: 5pt;">
                                    <i class="fas fa-procedures"></i>&nbsp;
                                    DESCRIPCIÓN DE LAS SECUELAS
                                </p>
                            </div>
                            <div style="padding: 0.4rem 1rem;">
                                <table border="0" width="100%">
                                    <!-- <tr>
                                        <td style="margin: 0; padding: 0; vertical-align: top; width: 80.98px;">
                                            <label class="label-section">Tipo de secuela: </label>
                                            <p class="data-section">Anatómica</p>
                                        </td>
                                        <td style="margin: 0; padding: 0; vertical-align: top; width: 380px;">
                                            <label class="label-section">Descripción:</label>
                                            <p style="font-family: 'Raleway'; text-align: justify; font-size: 4pt;">
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                                Non excepturi exercitationem aliquid, molestias tempora sit, 
                                                quas aliquam ducimus, itaque nisi omnis ipsa labore voluptas 
                                                voluptatem facilis enim eaque consectetur in.
                                            </p>
                                        </td>
                                        <td style="margin: 0; padding: 0; vertical-align: top; width: 66px; text-align: center;">
                                            <label class="label-section">Pronostico: </label>
                                            <p class="data-section">Regular</p>
                                            <p class="empty-data">No registra dato</p>
                                        </td>
                                    </tr> -->
                                    {{{ tagListSequels }}}
                                </table>
                            </div>
                        </div>
                    </layout>
                </repeater>
                <!-- <br> -->
                <div style="margin: 5px;"></div>
                <repeater>
                    <layout>
                        <table border="0" width="100%" style="page-break-before: always; padding-top: 2.5rem;">
                            <tr>
                                <td align="left">
                                    <img src="http://meddylex-001-site2.itempurl.com/assets/images/imgs/Logokustodyahorizontal.png" alt="Logo Kustodya" width="40%">
                                </td>
                                <td></td>
                                <td align="right">
                                    <img src="http://meddylex-001-site2.itempurl.com/assets/images/imgs/meddilexlogo.png" alt="Logo Meddylex" width="40%">
                                </td>
                            </tr>
                        </table>
                    </layout>
                </repeater>
                <!-- <br> -->
                <div style="margin: 5px;"></div>
                <repeater>
                    <layout>
                        <div style="border-radius: 8px; border: 1px solid #ccc; padding: 0rem;">
                            <div class="header-card">
                                <p style="font-family: 'Exo'; font-weight: 500; margin: 0; font-size: 5pt;">
                                    <i class="fas fa-file-waveform"></i>&nbsp;
                                    RESUMEN HISTORIA CLINICA Y ESTADO ACTUAL DEL PACIENTE
                                </p>
                            </div>
                            <div style="padding: 0.4rem 1rem;">
                                <table border="0" width="100%">
                                    <tr>
                                        <td style="margin: 0; padding: 0; vertical-align: top; width: 380px;">
                                            <!-- <label class="label-section">Descripción:</label> -->
                                            <p style="font-family: 'Raleway'; text-align: justify; font-size: 4pt;">
                                                {{ ResumenHistoriaClinica }}
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </layout>
                </repeater>
                <!-- <br> -->
                <div style="margin: 5px;"></div>
                <repeater>
                    <layout>
                        <div style="border-radius: 8px; border: 1px solid #ccc; padding: 0rem;">
                            <div class="header-card">
                                <p style="font-family: 'Exo'; font-weight: 500; margin: 0; font-size: 5pt;">
                                    <i class="fas fa-person-walking-with-cane"></i>&nbsp;
                                    TERAPEUTICA POSIBLE
                                </p>
                            </div>
                            <div style="padding: 0.4rem 1rem;">
                                <table border="0" width="100%">
                                    <tr>
                                        <td style="margin: 0; padding: 0; vertical-align: top; width: 80.98px;">
                                            <label class="label-section">Tipo de tratamiento: </label>
                                            <!-- <p class="data-section" style="/*display: flex; align-items: center;*/">
                                                <i class="fas fa-caret-right" style="font-size: 3pt; position: absolute; margin: 3px 0px;"></i>&nbsp;&nbsp;<span>Farmacológico</span>
                                            </p>
                                            <p class="data-section" style="/* display: flex; align-items: center; */">
                                                <i class="fas fa-caret-right" style="font-size: 3pt; position: absolute; margin: 3px 0px;"></i>&nbsp;&nbsp;<span>Terapia física</span>
                                            </p>
                                            <p class="data-section" style="/* display: flex; align-items: center; */">
                                                <i class="fas fa-caret-right" style="font-size: 3pt; position: absolute; margin: 3px 0px;"></i>&nbsp;&nbsp;<span>Otros tratamientos</span>
                                            </p> -->
                                            {{{ tagEsFarmacologico }}}
                                            {{{ tagEsFonoaudiologia }}}
                                            {{{ tagEsQuirurgico }}}
                                            {{{ tagEsTerapiaFisica }}}
                                            {{{ tagEsTerapiaOcupacional }}}
                                            {{{ tagEsOtrosTratamientos }}}
                                        </td>
                                        <td style="margin: 0; padding: 0; vertical-align: top; width: 66px; text-align: left;">
                                            <label class="label-section">Finalidad del tratamiento (Posibilidad de recuperación): </label>
                                            <p class="data-section">{{ nombreFinalidadTratamientos }}</p>
                                            <!-- <p class="empty-data">No registra dato</p> -->
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" style="margin: 0; padding: 0; vertical-align: top;">
                                            <hr>
                                            <!-- <label class="label-section">Descripción de otros tratamientos: </label> -->
                                            <p style="font-family: 'Raleway'; text-align: justify; font-size: 4pt;">
                                                <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit porro commodi qui inventore, fuga, vero, iure animi veritatis necessitatibus accusantium quis sit consequuntur asperiores beatae accusamus voluptatum maxime perspiciatis perferendis. -->
                                                {{ DescripcionOtrosTratamientos }}
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </layout>
                </repeater>
                <!-- <br> -->
                <div style="margin: 5px;"></div>
                <repeater>
                    <layout>
                        <div style="border-radius: 8px; border: 1px solid #ccc; padding: 0rem;">
                            <div class="header-card">
                                <p style="font-family: 'Exo'; font-weight: 500; margin: 0; font-size: 5pt;">
                                    <i class="fas fa-file-medical"></i>&nbsp;
                                    PRONOSTICO DEL PACIENTE 
                                </p>
                            </div>
                            <div style="padding: 0.4rem 1rem;">
                                <table border="0" width="100%">
                                    <tr>
                                        <td style="margin: 0; padding: 0; vertical-align: top; width: 250px;">
                                            <label class="label-section">Descripci&oacute;n: </label>
                                            <p class="data-section">
                                                <i class="fas fa-caret-right" style="font-size: 3pt; position: absolute; margin: 3px 0px;"></i>&nbsp;&nbsp;<span>Corto plazo (Menor a 1 año) - {{ PlazoCorto }}</span>
                                            </p>
                                            <p class="data-section">
                                                <i class="fas fa-caret-right" style="font-size: 3pt; position: absolute; margin: 3px 0px;"></i>&nbsp;&nbsp;<span>Mediano plazo (Menor a 3 años) - {{ PlazoMediano }}</span>
                                            </p>
                                        </td>
                                        <td style="margin: 0; padding: 0; vertical-align: top;">
                                            <label class="label-section">Concepto:</label>
                                            <p class="data-section">{{ nombreConcepto }}</p>
                                        </td>
                                        <td style="margin: 0; padding: 0; vertical-align: top;">
                                            <label class="label-section">Origen: </label>
                                            <p class="data-section">Común</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" style="margin: 0; padding: 0; vertical-align: top;">
                                            <hr>
                                            <!-- <label class="label-section">Descripción de otros tratamientos: </label> -->
                                            <p style="font-family: 'Raleway'; text-align: justify; font-size: 4pt;">
                                               <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. A quam dolores, reprehenderit quia ad voluptatum, illum soluta accusamus facere ipsum similique quos quisquam doloremque asperiores? Repellat vitae labore sapiente unde? -->
                                               {{ textoConcepto }}
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </layout>
                </repeater>
                <!-- <br> -->
                <div style="margin: 5px;"></div>
                <repeater>
                    <layout>
                        <hr>
                    </layout>
                </repeater>
                <!-- <br> -->
                <div style="margin: 5px;"></div>
                <repeater>
                    <layout>
                        <table border="0" width="100%">
                            <tr>
                                <td>&nbsp;</td>
                                <td align="center">
                                    <p style="font-family: 'Exo'; font-weight: 300; margin: 0; font-size: 6pt;">REMISIÓN A ADMINISTRADORA DE FONDO DE PENSIONES</p>
                                </td>
                                <td>&nbsp;</td>
                            </tr>
                        </table>
                    </layout>
                </repeater>
                <!-- <br> -->
                <div style="margin: 5px;"></div>
                <repeater>
                    <layout>
                        <div style="border-radius: 8px; border: 1px solid #ccc; padding: 0.4rem 1rem;">
                            <table border="0" width="100%">
                                <tr>
                                    <td style="margin: 0; padding: 0; vertical-align: top;">
                                        <label class="label-section">Codigo concepto:</label>
                                    </td>
                                    <td style="margin: 0; padding: 0; vertical-align: top;">
                                        <label class="label-section">Fecha emision:</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="margin: 0; padding: 0; vertical-align: top;">
                                        <span class="data-section">{{ tCodigoCorto }}</span>
                                    </td>
                                    <td style="margin: 0; padding: 0; vertical-align: top;">
                                        <span class="data-section">{{ FechaEmision }}</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </layout>
                </repeater>
                <!-- <br> -->
                <div style="margin: 5px;"></div>
                <repeater>
                    <layout>
                        <div style="border-radius: 8px; border: 1px solid #ccc; padding: 0rem;">
                            <div class="header-card">
                                <p style="font-family: 'Exo'; font-weight: 500; margin: 0; font-size: 5pt;">
                                    <i class="fas fa-user-doctor"></i>&nbsp;
                                    INFORMACIÓN GENERAL DEL MEDICO REMITENTE
                                </p>
                            </div>
                            <div style="padding: 0.4rem 1rem;">
                                <table border="0" width="100%">
                                    <tr>
                                        <td style="margin: 0; padding: 0; vertical-align: top;">
                                            <label class="label-section">Primer nombre: </label>
                                            <p class="data-section">{{ medicoPrimerNombre }}</p>
                                        </td>
                                        <td style="margin: 0; padding: 0; vertical-align: top;">
                                            <label class="label-section">Segundo nombre:</label>
                                            <p class="data-section">{{ medicoSegundoNombre }}</p>
                                        </td>
                                        <td style="margin: 0; padding: 0; vertical-align: top;">
                                            <label class="label-section">Primer apellido: </label>
                                            <p class="data-section">{{ medicoPrimerApellido }}</p>
                                        </td>
                                        <td style="margin: 0; padding: 0; vertical-align: top;">
                                            <label class="label-section">Segundo apellido:</label>
                                            <p class="data-section">{{ medicoSegundoApellido }}</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="margin: 0; padding: 0; vertical-align: top;">
                                            <label class="label-section">Tipo de documento: </label>
                                            <p class="data-section">{{ medicoTipoIdentificacion }}</span>
                                        </td>
                                        <td style="margin: 0; padding: 0; vertical-align: top;">
                                            <label class="label-section">Número de documento:</label>
                                            <p class="data-section">{{ medicoNumeroDocumento }}</span>
                                        </td>
                                        <td style="margin: 0; padding: 0; vertical-align: top;">
                                            <label class="label-section">Correo electrónico:</label>
                                            <p class="data-section">{{ medicoEmail }}</span>
                                        </td>
                                        <td style="margin: 0; padding: 0; vertical-align: top;">
                                            <label class="label-section">Número de registro:</label>
                                            <p class="data-section">{{ medicoNumeroRegistro }}</span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </layout>
                </repeater>
                <!-- <br> -->
                <div style="margin: 5px;"></div>
                <repeater>
                    <layout>
                        <table border="0" width="100%">
                            <tr style="height: 90px !important;">
                                <td align="center" style="vertical-align: bottom;">
                                    <!-- <img src="http://meddylex-001-site2.itempurl.com/assets/images/imgs/Logokustodyahorizontal.png" alt="Logo Kustodya" width="40%"> -->
                                    <img src="{{ firma }}" alt="Firma medico emisor concepto de rehabilitacion" width="30%">
                                    <hr>
                                    <h6 style="font-family: 'Exo'; font-weight: 500; margin: 0; font-size: 5pt;">Dr(a). {{ medicoPrimerNombre }} {{ medicoSegundoNombre }} {{ medicoPrimerApellido }} {{ medicoSegundoApellido }}</h6>
                                </td>
                                <td></td>
                                <td align="center" style="vertical-align: bottom;">
                                    <img src="{{ qrcode }}" alt="QRCode Concepto rehabilitacion" width="30%">
                                    <hr>
                                    <h6 style="font-family: 'Exo'; font-weight: 500; margin: 0; font-size: 5pt;">C&oacute;digo de Autenticaci&oacute;n de Conceptos de rehabilitaci&oacute;n</h6>
                                </td>
                            </tr>
                        </table>
                    </layout>
                </repeater>
            </div>
        </div>
    </body>
</html>