<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kustodya - Nuevo concepto de rehabilitacion</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic" rel="stylesheet" type="text/css">
    <style>
        html {
            width: 100%;
        }

        body {
            margin: 0;
            padding: 0;
            width: 100%;
            -webkit-text-size-adjust: none;
            -ms-text-size-adjust: none;
        }

        h1, h2, h3, p, small {
            color: #7a7a7a;
            font-family: Raleway, Arial, Helvetica Neue, Helvetica, sans-serif !important;
        }

        span {
            color: #c2c2c2;
            font-family: Raleway, Arial, Helvetica Neue, Helvetica, sans-serif !important;
            font-size: 0.6rem;
        }
    </style>
</head>
<body>
    <repeater>
        <layout>
            <table border="0" width="100%">
                <tr>
                    <td></td>
                    <td align="center">
                        <img src="http://meddylex-001-site2.itempurl.com/assets/images/imgs/Logokustodyahorizontal.png" alt="Logo Kustodya" width="50%">
                    </td>
                    <td></td>
                </tr>
            </table>
        </layout>
    </repeater>
    
    <repeater>
        <layout>
            <table border="0" width="100%" >
                <tr>
                    <td></td>
                    <td align="center">
                        <h2>Notificaci&oacute;n nuevo concepto de rehabilitaci&oacute;n</h2>
                    </td>
                    <td></td>
                </tr>
            </table>
        </layout>
    </repeater>
    <repeater>
        <layout>
            <table border="0" width="100%">
                <tr>
                    <td></td>
                    <td align="center">
                        <img src="http://meddylex-001-site2.itempurl.com/assets/images/imgs/email.png" alt="Icono notificacion Kustodya" width="90px" style="margin: 0px 0 15px;">
                        <!-- <img src="{{ urlLogo }}" alt="Logo Kustodya" width="90px" style="margin: 0px 0 15px;"> -->
                    </td>
                    <td></td>
                </tr>
            </table>
        </layout>
    </repeater>
    <div style="margin: 0 30px;">
        <hr>
    </div>
    <repeater>
        <layout>
            <table border="0" width="100%">
                <tr>
                    <td align="center" width="50%" style="padding: 1rem;">
                        <h3 style="margin: 0;">
                            Meddylex EPS a emitido un nuevo concepto de rehabilitaci&oacute;n.
                        </h3>
                        <!-- <small>
                            Adjunto a este correo encontraras los archivos correspondientes a el detalle del concepto.
                        </small> -->
                    </td>
                </tr>
            </table>
        </layout>
    </repeater>
    <repeater>
        <layout>
            <table border="0" width="100%">
                <tr>
                    <td align="center" width="50%" style="padding: 1rem;">
                        <img src="http://meddylex-001-site2.itempurl.com/assets/images/imgs/img3.jpg" width="70%" alt="Emisor concepto">
                        <!-- <img src="{{ urlImg3 }}" width="70%" alt="Emisor concepto"> -->
                    </td>
                </tr>
            </table>
        </layout>
    </repeater>
    <repeater>
        <layout>
            <table border="0" width="100%">
                <tr>
                    <td align="center" width="50%" style="padding: 1rem;">
                        <p style="margin: 0 !important;">
                            Adjunto a este correo encontraras los archivos correspondientes a el detalle del concepto:
                        </p>
                    </td>
                </tr>
            </table>
        </layout>
    </repeater>
    <div style="margin: 0 30px;">
        <hr>
    </div>
    <repeater>
        <layout>
            <table border="0" width="100%">
                <tr>
                    <td align="center" width="50%" style="padding: 1rem;">
                        <span>
                            AVISO LEGAL La información transmitida a través de este correo electrónico es confidencial y 
                            dirigida única y exclusivamente a su(s) destinatario(s). Puede contener datos personales, información 
                            privilegiada y sometida a reserva legal, por lo que su reproducción, lectura, uso o divulgación 
                            no autorizada está prohibida a cualquier persona o entidad diferente a su destinatario. Si usted 
                            ha recibido este mensaje por error, por favor notifíquelo inmediatamente al remitente y elimínelo 
                            de su sistema. Cualquier uso, reproducción, divulgación, copia, distribución o impresión no autorizada 
                            será sancionado de acuerdo con las normas legales vigentes. Este mensaje ha sido enviado con las 
                            precauciones necesarias para evitar la transmisión de virus, no obstante el remitente, así como 
                            todas las empresas que hacen parte de Meddylex, no se hacen responsables por la eventual transmisión 
                            de virus o programas dañinos por este conducto, ni por eventuales daños o alteraciones derivados 
                            de la recepción o uso del presente mensaje y por lo tanto es responsabilidad del destinatario realizar 
                            la verificación de elementos adjuntos al momento de recibir y abrir el mismo.
                        </span>
                    </td>
                </tr>
            </table>
        </layout>
    </repeater>
</body>
</html>